
@{
    ViewBag.Title = "后台管理";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">@ViewBag.Title</h1>
        <ol class="breadcrumb">
            <li class="active">栏目简介</li>
        </ol>

        <!-- Start Page Header Right Div -->
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="#" class="btn btn-light">栏目</a>
                <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
                <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
                <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
            </div>
        </div>
        <!-- End Page Header Right Div -->

    </div>
    <!-- End Page Header -->
    <div class="container-widget">
        <p style="min-height: 500px">欢迎登录！</p>
    </div>
    <!-- END 内容部分  -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->



</div>

