
@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_LayoutCdn.cshtml";
}
@{
    if (this.User.Identity.IsAuthenticated)
    {
        <script>
            $(location).attr('href', '/userinfo/usercenter');
        </script>
    }
    else
    {
        
        <div style="width: 100%; height: 600px;background-color:#337ab7 ">
            @Html.Action("_LoginInOut", "UserInfo")
        </div>
        <script>
            $("#inout").attr("hidden", "hidden").css({ "background-color":"#85a2c7"});
            $("#login").modal({ show: true, backdrop: 'static', keyboard: false });
            $(".close").attr("hidden", "hidden");
            $('.cancel').removeAttr("data-dismiss").text("清空").on('click',function(){//新的绑定事件
                $("input").val("");
            });;
        </script>

        <div style="width: 100%; margin-top: 50px;text-align: center">
            <span style="font-size: 30px; font-weight: bold; color: #393939; letter-spacing: 5px">
                五点网络科技
            </span>
        </div>
    }
}

